body{
    background-color: aqua;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header > h1 {
    text-align: center;
    color: red;
}

.home_footer{
    text-align: center ;
    text-decoration: none;
}